{
    "mqtt": {
        "username" : "xxx",
        "password" : "yyy",
        "broker" : "192.168.2.96",  
        "port" : 1883,
        "client_id" : "",
        "lwt_topic" : "ddns/LWT",
        "request_topic" : "ddns/req",
        "response_topic" : "ddns/res",
        "status_topic" : "ddns/status"
    }
}